extends base

block content
  main.main
    .card-container

      each book in books
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`img/books/${book.image}`, alt=`${book.name}`)
            h3.heading-tertirary
              span= book.name

          .card__details
            span=`By ${book.author}`
            h4.card__sub-heading=`${book.genre}`
            p.card__text=`${book.description}`
            

          .card__footer
            a.btn.btn--green.btn--small(href=`/books/${book.slug}`) Read

